

// div, section, ul, ol,
// atom-pane,
// atom-panel,
// atom-workspace,
// atom-pane-container,
// atom-panel-container, {
//   background-color: var(--background-color)
// }

html {
  background-color: @app-background-color;
  --text-size: @font-size;
  --line-height: @line-height;
 }

atom-workspace {
  --scrollbar-background-color: var(transparent);
  --scrollbar-color: var(--color-background-sub);
  --scrollbar-active-color: var(--color-background-dark);

  --color-text: var(--color-text-base, @text-color);
  --color-text-main: var(--color-primary, @text-color-info);
  --color-text-info: var(--color-primary, @text-color-info);
  --color-text-added: var(--color-success, @text-color-success);
  --color-text-success: var(--color-success, @text-color-success);
  --color-text-warning: var(--color-warning, @text-color-warning);
  --color-text-ignored: var(--color-warning, @text-color-warning);
  --color-text-modified: var(--color-error, @text-color-warning);
  --color-text-error: var(--color-error, @text-color-error);
  --color-text-renamed: var(--color-warning, @text-color-error);
  --color-text-removed: var(--color-error, @text-color-error);

  --text-color: var(--color-text, @text-color);
  --text-color-subtle: var(--color-subtle, @text-color-subtle);
  --text-color-highlight: var(--color-primary, @text-color-highlight);
  --text-color-selected: var(--color-primary, @text-color-selected);
  --text-color-active: var(--color-primary, @text-color-selected);
  --text-color-hover: var(--color-accent-color, @text-color-selected);
  --text-color: var(--color-text, @text-color);
  --color-text-subtle: var(--color-subtle, @text-color-subtle);
  --color-text-highlight: var(--color-primary, @text-color-highlight);
  --color-text-selected: var(--color-primary, @text-color-selected);
  --color-text-active: var(--color-primary, @text-color-selected);
  --color-text-hover: var(--color-accent-color, @text-color-selected);
  --color-background-subtle: var(--color-background-base);


  --size: var(4rem, unit(@tab-height, rem));

  .bg(base, base);
  color: var(--text-color);
  font-family: var(--font, @font-family);

  --color-background-panel: var(--color-background-base);
}
                                                                                                                                                                                                                                                                                                                                                                                    /*
→ Panes                                                                                                                                                                                                                                                                                                                                                         */
atom-pane-container {
  .bg(base, pane-item);
  --border-color: @tool-panel-border-color }
                                                                                                                                                                                                                                                                                                                                                                                    /*
→ Panels                                                                                                                                                                                                                                                                                                                                                         */
atom-panel-container.bottom {
  .bg(dark, tool-panel) }

atom-panel {
  --background-color: var(--color-background-panel) }

.inset-panel {
  .bg(base, inset-panel) }

.panel-heading, .inset-panel .panel-heading {
  .bg(base, panel-heading) }
                                                                                                                                                                                                                                                                                                                                                                                    /*
→ Text                                                                                                                                                                                                                                                                                                                                                         */
pre {
  --text-color: inherit }

code {
  .txt(info);
  .bg(base) }

.badge {
  --text-color: @tooltip-key-text-color }

.highlight {
  --text-color: @base-background-color;
  --background-color: @text-color }

.highlight-info {
  --background-color: @text-color-info }

.highlight-success {
  --background-color: @text-color-success }

.highlight-warning {
  --background-color: @text-color-warning }

.highlight-error {
  --background-color: @text-color-error }
                                                                                                                                                                                                                                                                                                                                                                                      /*
→ Tooltips                                                                                                                                                                                                                                                                                                                                                         */
kbd, .tooltip {
  --background-color: @tooltip-background-color;
  --text-color: @tooltip-text-color }

.tooltip .keystroke {
  --background-color: @tooltip-key-background-color;
  --text-color: @tooltip-key-text-color }
                                                                                                                                                                                                                                                                                                                                                                                    /*
→ GUI                                                                                                                                                                                                                                                                                                                                                         */
input[type='range'] {
  --text-color: @text-color;
  --track-color: @text-color;
  --focus-color: @color-main;
  --focus-track-color: @text-color-highlight;
  --size: 1px;
  --margin: 1em;
  --handle-size: 1em }
                                                                                                                                                                                                                                                                                                                                                                                      /*
→ Buttons                                                                                                                                                                                                                                                                                                                                                         */
.btn {
  --color:            var(--text-color, @text-color);
  --border-color:     var(--color);
  --active-color:     var(--color, @text-color);
  --disabled-color:   var(--color-text-subtle, @color-disabled);
  --background-color: transparent;
  --size: 8px }

.btn.btn-primary {
  --color: var(--color-background-info, @background-color-info) }

.btn.btn-info {
  --color: var(--color-background-info, @background-color-info) }

.btn.btn-success {
  --color: var(--color-background-success, @background-color-success) }

.btn.btn-warning {
  --color: var(--color-background-warning, @background-color-warning) }

.btn.btn-error {
  --color: var(--color-background-error, @background-color-error) }

.btn:focus, .btn:active:focus {
  --color: var(--color-text-selected, @text-color-selected) }

.btn-toolbar, .btn-group {
  --border-color: var(--color-dimmed) }
                                                                                                                                                                                                                                                                                                                                                                                    /*
→ Tabs                                                                                                                                                                                                                                                                                                                                                         */
.tab-bar {
  // @import (reference) 'syntax-variables';
  --text-color:                   var(--color-text-base, @text-color-subtle);
  --text-color-hover:             var(--color-primary-mixed, @text-color-highlight);
  --text-color-active:            var(--color-primary, @text-color-selected);
  --background-color:             transparent;
  --tab-background-color:         transparent;
  --tab-background-color-hover:   transparent;
  --tab-background-color-active:  transparent;
}
                                                                                                                                                                                                                                                                                                                                                                                    /*
→ Status bar                                                                                                                                                                                                                                                                                                                                                         */
status-bar {
  --background-color: var(--color-background-dark, @sub-background-color);
  --text-size: unit(@size-small, rem);
  --size: 4rem }
                                                                                                                                                                                                                                                                                                                                                                                      /*
→ Tree view                                                                                                                                                                                                                                                                                                                                                         */
@inactive: ".project-root.collapsed, .project-root.selected.collapsed, .project-root.expanded ~ .project-root:not(.selected)";
@active: ~".project-root.selected";
.list-tree, .list-group, .tree-view {
  --background-color: transparent;
  --text-size: @font-size;

  .project-root-header {
    --text-color: var(--color-text-highlight, @text-color-highlight);
    span { --text-color: var(--color-text-subtle, @text-color-subtle) } }

  @{inactive} {
    .project-root-header {
    --size: @tab-height;
    --background-color: var(--color-background-dark, @background-color-dark);
    --border-color: @tree-view-border-color-disabled }}

  @{active} {
    .project-root-header {
    --background-color: var(--color-background-base, @tree-view-background-color);
    --border-color: transparent }}}
                                                                                                                                                                                                                                                                                                                                                                                      /*
→ Overlays                                                                                                                                                                                                                                                                                                                                                         */
atom-panel.modal,
.overlay {
  --background-color: var(--color-background-base, @overlay-background-color);
  --border-radius: @component-border-radius;
  --border-color: @base-border-color;
  --text-color: @base-border-color;

  ul, ol {
    --text-color: @text-color-subtle;
    li {
      --size: @component-padding/2 @component-padding*2 }
    li .character-match { .text(normal) }
    li.selected .character-match { .text(selected) }
    li.selected { --text-color: @text-color-selected }}

  atom-text-editor.mini, atom-text-editor[mini] { --text-color: @text-color-subtle;
    &.is-focused.text, &.is-focused.source { --text-color: @text-color-highlight }}}
                                                                                                                                                                                                                                                                                                                                                                                          /*
→ Notifications                                                                                                                                                                                                                                                                                                                                                         */
atom-notification {
  --background-color: var(--color-background-base, @overlay-background-color);
  --text-color: @text-color }

atom-notification .btn-toolbar > *,
atom-notification .btn-toolbar > .btn.btn {
  --size: ~"calc(var(--size) * 0.75)";
  &:hover {
    --background-color: var(--text-color) }
  &:not(:hover) {
    --text-color: @text-color-subtle }}
