

:root {
  --ui-scale: @__uiScale;
  --tab-fixed: @__fixedTabBar;
  --tab-position: @__tabPosition;
  --tab-close-position: @__tabClosePosition;
  --fixed-project-root: @__fixedProjectRoot;
  --background-color-override: @__overrideEditorBackground;
  --panel-collapse: @__collapsing;
  --fx-enhance: @__enhancedFx;
  --silly-mode: @__SILLYMODE;

  --color-primary: @__primary;
  --color-accent: @__accentColor;
  --color-tint: @__backgroundTint;
  --color-success: @__success;
  --color-warning: @__warning;
  --color-annotation: @__annotation;
  --color-error: @__error;

  --color-info: @color-info;
  --color-main: @color-main;

  --font-family: @__uiFont;
  --font-weight: @__uiFontWeight;

  --text-color: @text-color;
  --border-color: transparent;
  --border-radius: @component-border-radius;

  --anim-duration: @transition-time;
  --time-xs: ~"calc(var(--anim-duration) / 6)";
  --time-sm: ~"calc(var(--anim-duration) / 3)";
  --time: var(--anim-duration);
  --time-lg: ~"calc(var(--anim-duration) * 2)";
  --trans-default: ~"calc(var(--anim-duration) * 2)";
}
