
                                                                                                                                                                                                                                                                                                                                                                        /*
 button ⟩ components ⟩ reduced-dark-ui


 author Tuomas Hatakka
  email tuomas.hatakka@gmail.com
      © 2016-2017 Tuomas Hatakka


↛ Defaults                                                                                                                                                                                                                                                                                                                                                                 */
button,
button.icon,
.btn {
  .text(caps);
  @color-alt:         @col-dark;
  @inner-height:      @button-height - @input-padding-vertical;
  @btn-size:          @button-height - @component-padding;
  @padding:           @component-padding / 2 @component-padding / 2 * 3;

  margin:             0;
  color:              @text-color;
  background:         @button-background-color;
  border-radius:      @roundness;
  padding:            @padding     !important;
  height:             @btn-size    !important;
  min-width:          @btn-size    !important;
  min-height:         @btn-size    !important;
  line-height:        @btn-size    !important;
  box-shadow:         none         !important;
  border-width:       1px          !important;
  border-style:       solid        !important;
  transition:         all var(--time-sm);
  box-sizing:         content-box;
  font-size:          var(--size) !important;
  font-weight:        400;
  padding:            0 @component-padding / 2;
  outline:            none !important;

  .icon::before,
  &::before {
    text-align:       center;
    vertical-align:   middle;
    display:          inline-block;
    position:         relative;
    margin:           -1px auto 0;
    padding:          0 0.1em 0 0;
    font-size:        2em !important;
    line-height:      inherit !important;
    height:           inherit !important;
    color:            inherit !important }

  color:              var(--color) !important;
  border-color:       var(--border-color) !important;
  background-color:   var(--background-color) !important;

  &.selected, &:active, &:focus, &:hover {
    color:              black !important;
    border-color:       var(--active-color) !important;
    background-color:   var(--active-color) !important }

  &[class*='btn-'] {
    --active-color: var(--color) }

  &:active,
  &:focus {
   }

  &.selected,
  &.selected:active:focus,
  &.selected:focus,
  &.selected:active { }

 &.selected:hover,
 &:hover {
   transition-duration: var(--time-xs) }

  &[disabled], &.disabled {
    opacity:            1 }

  &.btn-sm,
  &.btn-xs {
    font-size:        ~"calc(0.92 * var(--size)) !important";
    height:           @button-height/1.5 !important;
    line-height:      @button-height/1.5 !important }

  &.btn-lg {
    font-size:        ~"calc(1.2 * var(--size)) !important";
    padding:          0 @component-padding;
    height:           @button-height * 1.2 !important;
    line-height:      @button-height * 1.2 !important }

  // &.icon {
  //   vertical-align:   middle;
  &.status-indicator { border-width: 0 !important }}
                                                                                                                                                                                                                                                                                                                                                                        /*
↛ Toolbars and grouped buttons                                                                                                                                                                                                                                                                                                                                                                 */

.btn-group {
  padding: 0 0 2px;
  box-sizing: content-box;

  > .btn.icon::before {
    margin: -1px 0 0 }}

.btn-group,
.btn-toolbar {
  height: @button-height !important;
  border-width: 0;
  border-color: var(--border-color);
  margin: 0px;

  > .btn:not(.selected):not(:hover) {
    border-color: var(--border-color);
    height: 100% }
    // border-color: inherit !important }

  .btn-toolbar > & {
    border-radius:  @button-border-radius;
    line-height:    @button-height;
    overflow:       hidden;
    margin:         0 1px 1px 0;
    border-width:   0;

    & > .btn {
      border-width: 0;
      margin:       0 1px 1px 0;
      line-height:  @button-height;
      border-radius: @button-border-radius !important }}}


.meta-controls .btn-toolbar {
  @w:             @button-height - @component-padding !important;
  margin:         0 auto;

  > .btn-group {
    margin:       0;
    border-radius: 0;
    position:     static }

  .btn,
  button,
  button.btn {
    font-size:    0 !important;
    margin:       0 0 0 2px;
    padding:      @component-padding / 2 !important;
    width:        @w;
    min-width:    @w;
    max-width:    @w;
    text-align:   center;
    border-color: @base-border-color;

    &::before,
    .icon::before {
      display:    block;
      font-size:  unit(@size-large, rem) !important;
      width:      100%;
      margin:     0;
      padding:    0;
      box-sizing: border-box }}}

.pull-right.btn {
  height:         @button-height * 0.6 !important;
  min-height:     @button-height * 0.6 !important;
  line-height:    @button-height * 0.6 !important;
  padding-top:    @button-height * 0.2 !important;
  padding-bottom: @button-height * 0.2 !important }

                                                                                                                                                                                                                                                                                                                                                                          /*
↛ Rounding for edge cases                                                                                                                                                                                                                                                                                                                                                                 */
.btn:first-of-type {
  border-left-width: 1px !important;
  border-left-style: solid !important;
  border-top-left-radius: @button-border-radius !important;
  border-bottom-left-radius: @button-border-radius !important }

.btn:last-of-type {
  border-right-width: 1px !important;
  border-right-style: solid !important;
  border-top-right-radius: @button-border-radius !important;
  border-bottom-right-radius: @button-border-radius !important }
