
                                                                                                                                                                                                                                                                                                                                                                        /*
 button ⟩ components ⟩ reduced-dark-ui


 author Tuomas Hatakka
  email tuomas.hatakka@gmail.com
      © 2016-2017 Tuomas Hatakka


↛ Defaults                                                                                                                                                                                                                                                                                                                                                                 */
button,
button.icon,
.btn {
  .button(@button-border-color);

  &::before {
    text-align: center;
    margin: 0 auto;
    height:       inherit !important;
    line-height:  inherit !important }


  &:focus,
  &:active:focus {
    outline: 0;
    border: 1px solid @text-color-selected !important }

  &.btn-xs {
    font-size: @size-xsmall;
    padding: 0 @component-padding / 2;
    height: @button-height/1.5;
    line-height: @button-height/1.5 }

  &.btn-sm {
    font-size: @size-small;
    padding: 0 @component-padding / 2;
    height: @button-height;
    line-height: @button-height }

  &.btn-lg {
    font-size: 1em;
    padding: 0 @component-padding;
    height: @button-height * 2;
    line-height: @button-height * 2 }

  &.icon {
    vertical-align: middle;

  &::before {
    vertical-align: middle;
    margin-top: -1px;
    font-size: 2.2em;
    display: inline-block;
    position: relative;
    vertical-align: middle;
    color: inherit }}

  &.btn-info, &.btn-primary { .button-variant(@background-color-info) }
  &.btn-success { .button-variant(@background-color-success) }
  &.btn-warning { .button-variant(@background-color-warning) }
  &.btn-error { .button-variant(@background-color-error) }
  &.status-indicator { border-width: 0 !important }}
                                                                                                                                                                                                                                                                                                                                                                        /*
↛ Toolbars and grouped buttons                                                                                                                                                                                                                                                                                                                                                                 */

.btn-group {
  padding: 0 0 2px;
  box-sizing: content-box;

  > .btn.icon::before {
    margin: -1px 0 0 }}
//
// .btn-toolbar > .btn {
//   border-color: fade(@base-border-color, 50%) }

.btn-group,
.btn-toolbar {
  height: @button-height !important;
  border-width: 0;
  border-color: mix(@base-background-color, @button-border-color, 75%);
  margin: 0px;

  > .btn:not(.selected):not(:hover) {
    height: 100%;
    border-color: inherit !important }

  .btn:first-child {
    border-left-width: 1px !important;
    border-left-style: solid !important;
    border-top-left-radius: @button-border-radius;
    border-bottom-left-radius: @button-border-radius }

  .btn:last-child {
    border-right-width: 1px !important;
    border-right-style: solid !important;
    border-top-right-radius: @button-border-radius !important;
    border-bottom-right-radius: @button-border-radius !important }

  .btn-toolbar > & {
    border-radius: @button-border-radius;
    line-height: @button-height;
    overflow: hidden;
    margin: 0 1px 1px 0;
    border: 0 solid fade(@base-border-color, 75%);

    & > .btn {
      border-width: 0;
      margin: 0 1px 1px 0;
      line-height: @button-height;
      border-radius: @button-border-radius !important }}}


.meta-controls .btn-toolbar {
  @w: @button-height - @component-padding !important;
  margin: 0 auto;

  > .btn-group {
    margin: 0;
    border-radius: 0;
    position: static }

  .btn,
  button,
  button.btn {
    font-size:    0 !important;
    margin:       0 0 0 2px;
    padding:      @component-padding / 2 !important;
    width:        @w;
    min-width:    @w;
    max-width:    @w;
    text-align:   center;
    border-color: @base-border-color;

    &::before,
    .icon::before {
      font-size: unit(@size-large, rem);
      color: inherit;
      width: 100%;
      height: inherit;
      line-height: inherit;
      margin: 0;
      padding: 0;
      display: block;
      box-sizing: border-box }}}

.pull-right.btn {
  height:         @button-height * 0.6 !important;
  min-height:     @button-height * 0.6 !important;
  line-height:    @button-height * 0.6 !important;
  padding-top:    @button-height * 0.2 !important;
  padding-bottom: @button-height * 0.2 !important }

:root {
  x: --webkit-var("kakka") }

                                                                                                                                                                                                                                                                                                                                                                          /*
↛ Rounding for edge cases                                                                                                                                                                                                                                                                                                                                                                 */

button:first-of-type,
button.icon:first-of-type,
.btn-default:first-of-type,
.btn:first-of-type {
  border-top-left-radius: 3.6rem;
  border-bottom-left-radius: 3.6rem }

button:last-of-type,
button.icon:last-of-type,
.btn-default:last-of-type,
.btn:last-of-type:not,
.btn.selected:last-of-type,
.btn-group:last-of-type,
.btn-group.selected:last-of-type {
  border-top-right-radius:    3.6rem;
  border-bottom-right-radius: 3.6rem }
