
                                                                                                                                                                                                                                                                                                                                                                        /*
 button ⟩ components ⟩ reduced-dark-ui


 author Tuomas Hatakka
  email tuomas.hatakka@gmail.com
      © 2016-2017 Tuomas Hatakka


↛ Local variables                                                                                                                                                                                                                                                                                                                                                                 */

@outline-width: 0.67px;
.replace(@for, @replace, @set: default) {
  @cls: ~".icon.icon-@{for}::before";
  & @{cls} when (@set = ion) { font-family: ionicons !important }
  & @{cls} when (@set = fa) {  font-family: FontAwesome, "Font Awesome", "font-awesome" !important }
  & @{cls} {
    color: inherit      !important;
    font-size: inherit  !important;
    content: @replace   !important;
    &:hover {
      background: none }}}

                                                                                                                                                                                                                                                                                                                                                                            /*
↛ General definitions                                                                                                                                                                                                                                                                                                                                                                 */
.icon::before {
  -webkit-filter: blur(0.08px);
  -webkit-font-smoothing: antialiased;
  text-shadow: 0 0 1px rgba(0, 0, 0, 0.2) }

.replace(x, "\f404", ion);

                                                                                                                                                                                                                                                                                                                                                                            /*
↛ Modal icon redefinitions                                                                                                                                                                                                                                                                                                                                                               */
atom-panel.modal {
  .icon(command-palette,   '\f449', ion);
  .icon(encoding-selector, "\f094", default);
  .icon(grammar-selector,  "\f010", default);
  .icon(symbols-view,      "\f0c0", default);
  .icon(fuzzy-finder,      "\f02e", default);
  .icon(diff-list-view,    "\f0d6", default);
  @icon: ~"> atom-text-editor[mini]::before";

  & > div @{icon} {
    font-family:    "Octicons Regular";
    content:        "\f011";
    color:          @text-color-subtle;
    padding-right:  @component-padding;
    border-right:   0.5px solid fade(@text-color-subtle, 7.5%);
    margin:         0 @component-padding 0 -@component-padding * 2;
    -webkit-font-smoothing: subpixel-antialiased }

  .icon(@for, @replace, @set: default) {
    @cls: ~"> .@{for} @{icon}";
    & @{cls} when (@set = ion) { font-family: ionicons }
    & @{cls} when (@set = fa) {  font-family: FontAwesome, "Font Awesome", "font-awesome" }
    & @{cls} {
       content: @replace }}}


                                                                                                                                                                                                                                                                                                                                                                          /*
↛ Custom injected panel icons                                                                                                                                                                                                                                                                                                                                                               */
atom-panel {
  &.left .display-icon {
    right: -@tab-height }

  &.open.left .display-icon,
  &:hover.left .display-icon {
    transform: translateX(-@tab-height);
    width: 100% }

  &.right .display-icon {
    left: -@tab-height }

  &.open.right .display-icon,
  &:hover.right .display-icon {
    transform: translateX(@tab-height);
    width: 100% }

  .display-icon {
    .selection(disabled);
    position: absolute;
    padding: @tab-height / 8;
    width: @tab-height;
    min-width: @tab-height;
    height: @tab-height !important;
    line-height: @tab-height;
    top: 0;
    text-align: center;
    font-size: 2em;
    color: @text-color;
    z-index: 1000;
    box-sizing: border-box;
    background-color: fade(@text-color, 1%);
    background-color: inherit;
    background-color: transparent;
    transform: translateX(0);
    transition:
        transform @transition-time,
        width @transition-time;
    transition-timing-function: @transition-curve;

    &::before {
      font-size: inherit !important;
      margin: 0 !important;
      padding: 0 !important;
      display: block;
      text-align: center;
      width: auto;
      height: initial !important;
      line-height: @tab-height * 3/4;
      border-radius: @tab-height / 2;
      transition-timing-function: @transition-curve;
      background: @base-border-color;
    }
  }
}
.preview-icon {
  font-size: 2rem;
  vertical-align: middle;
  padding: 0 1rem }


.icon.icon-gear {
  &::before {
    color: inherit;
    -webkit-text-stroke-width: @outline-width;
    -webkit-filter: blur(0.25px);
    text-shadow: 0 0 1px rgba(0, 0, 0, 0.2);
    -webkit-text-fill-color: transparent }}

                                                                                                                                                                                                                                                                                                                                                                                /*
↛ Settings view wrap group toggles                                                                                                                                                                                                                                                                                                                                                                 */
.icon::before {
  -webkit-filter: blur(0.08px);
  -webkit-font-smoothing: antialiased;
  text-shadow: 0 0 1px rgba(0, 0, 0, 0.2) }

.sub-section-heading.has-items::after {
  .icon("\f106");
  transform: rotate(0deg);
  transform-origin: center;

  .collapsed & {
  transform: rotate(180deg) }}
