
.headline() {
  letter-spacing: 0.1em;
  font-weight: 100 !important;
  font-size: 4.8em;
  font-size: 3em;
  text-align: left;
  text-transform: uppercase;
  border-bottom: 1px solid rgba(195, 141, 141, 0.33);
  margin: 0;
  padding: 0;
}

.tab-bar.inline-tabs {
  border-top-width: 0 !important;
}
.tab-bar.inline-tabs .tab {
  box-sizing: border-box;
  border: 1px solid transparent;
  border-bottom-color: @base-border-color;

  &.active {
    border-color: @base-border-color;
    border-bottom-color: transparent;
    background-color: fade(@sub-background-color, 50%);
  }

  .icon {
    margin-top:     0.4em;
    margin-bottom: -0.4em }}

> .section {
  padding: 0;
}

.displayed-item {
  background-color: fade(@sub-background-color, 50%);
  margin: 0 0 4 * @component-padding;
}
.section-heading {
  margin: 0;
  padding: 0;
  text-align: center;

  h2 {
    margin: 0;
    padding: 0;
    font-size: inherit !important;

    .icon::before {
      font-size: inherit !important;
      width: 1em !important;
      position: relative !important;
      display: inline !important;
      float: none;
      -webkit-text-stroke: 1px white;
      color: transparent;
    }

    .icon {
      width: 1em;
      margin-right: @component-padding }
  }
}
.section-heading h2 {
  margin: 0;
  padding: 0;
  font-size: 4em;
  padding: 0.2em !important;
}
.section-heading h2 .icon {
  width: 3em;
  height: 3em;
  vertical-align: middle;
  font-size: 0.5em;
  line-height: 3em;
  text-align: center;
}
.section-heading h2 .icon::before {
  font-size: inherit !important;
  width: 1em !important;
  position: relative !important;
  line-height: inherit !important;
  display: inline !important;
  text-align: center;
  float: none;
  -webkit-text-stroke: 1px white;
  color: transparent;
  vertical-align: middle;
  font-size: 2em !important;
  height: 1em;
  margin: 0 !important;
  display: block !important;
  width: inherit !important;
  position: relative;
}

.btn-group > .btn,
.btn-toolbar > .btn {
  border-color: fade(@base-border-color, 50%) }


.config-general {

  > header {
    display: none; }

  > main {
    margin: 0;
    padding-top: 0 }

// .package-config-view
.section-heading h2 { .headline }
.package-container .package-card .card-name { .headline }

.general-package-view > section {
  display: block;
  width: 100%;

.package-container .package-card:hover {
  background: transparent !important }}}


.section .section-body .sub-section-body .control-group {
  flex: 1 1 50%;
  min-width: 16em;
  margin: 0 0 @component-padding * 2;
  padding: @component-padding * 2 }

.control-group {
  padding: @component-padding;
  position: relative }

.setting-description {
  padding: @component-padding / 2 0;
  font-weight: 300 }

.boolean-container {
  position: absolute;
  top: 0;

  @{checkbox-input} {
    margin: -3px 0 0 3px }}


                                                                                                                                                                                                                                                                                                                                                                                /*
↛ Color palette config                                                                                                                                                                                                                                                                                                                                                                 */
section[title="color"] {
  width: 100%;
  position: relative;

  > .sub-section > .controls {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;

  label.control-group {
    flex-flow:      column nowrap;
    position:       static;
    // position:       absolute;
    display:        flex;
    flex:           none;
    vertical-align: middle;
    text-align:     left;
    width:          100%;
    margin:         0;
    min-width:      0;
    top:            0;
    bottom:         0;
    font-size:      1em;
    line-height:    1.5;
    padding:        @component-padding; }

  .settings-title,
  .settings-description {
    z-index: 1 }

  .color-cell.color-display {
    position: relative;
    flex: 1 0 33.33%;
    padding-bottom: 33.33%;
    height: 16rem !important;
    box-sizing: padding-box;}
  .color-cell.color-minor {
    position: relative;
    flex: 0 0 25%;
    padding-bottom: 25%;}
    @{color-input} {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: auto;
    background: transparent !important;
    border-width: 0 !important;
    margin: 0;
    padding-bottom: 100%;

    &::-webkit-color-swatch-wrapper {
    padding: 0;
    margin: 0;
    // margin: @component-padding / 2;
    width: auto;
    height: auto;
    overflow: hidden;
    border-radius: 0% }

  &::-webkit-color-swatch {
    -webkit-appearance: none;
    transition: padding @transition-time;
    transform: translate(0.5px, 0.5px);
    border-radius: 0 }
    }

  label.control-group:hover {
    cursor: pointer;
    color: @base-background-color;

  * {
    cursor: pointer;
    color: inherit;
    transition: color @transition-time;
    }

  ::-webkit-color-swatch {
    cursor: pointer;
    padding-top: 100% }
    }
    }}
