
                                                                                                                                                                                                                                                                                                                                                                        /*
 index ⟩ defer ⟩ reduced-dark-ui


 author Tuomas Hatakka
  email tuomas.hatakka@gmail.com
      © 2016-2017 Tuomas Hatakka                                                                                                                                                                                                                                                                                                                                        */


                                                                                                                                                                                                                                                                                                                                                                        /*
↛ Spinning animation                                                                                                                                                                                                                                                                                                                                                              */

@-webkit-keyframes spin {
  from { transform: rotate(0deg) }
  to   { transform: rotate(359deg) } }


                                                                                                                                                                                                                                                                                                                                                                          /*
↛ UI Init animation                                                                                                                                                                                                                                                                                                                                                              */

@blur: 1em;
@-webkit-keyframes prelude {
  from {
    opacity: 0;
    -webkit-filter: blur(@blur);
    transform: scale(1.1) }
  to {
    opacity: 1;
    -webkit-filter: blur(0);
    transform: scale(1) }}


                                                                                                                                                                                                                                                                                                                                                                          /*
↛ Loader                                                                                                                                                                                                                                                                                                                                                              */

@size: @tab-height * 2;
@color: @__accentColor;
@c: translate(-50%, -50%);
@keyframes loader-main {
  0%    { transform: rotate(0deg)}
  19.9% { transform: rotate(0deg)}
  20%   { transform: rotate(60deg)}
  39.9% { transform: rotate(60deg)}
  40%   { transform: rotate(120deg)}
  59.9% { transform: rotate(120deg)}
  60%   { transform: rotate(180deg)}
  79.9% { transform: rotate(180deg)}
  80%   { transform: rotate(240deg)}
  89.9% { transform: rotate(240deg)}
  90%   { transform: rotate(300deg)}
  99.9% { transform: rotate(300deg)}
  100%  { transform: rotate(0deg)}}

.loader-keyframes(@pos: 0) {
  @name:    ~"loader-@{pos}";
  @keyframes  @name {
  @interval:  (1 + @pos * 0.33) * 60deg;
  0% {        transform: @c rotate(0 * @interval + @pos * @interval);
              opacity: 0.5; }
  16.6% {     transform: @c rotate(1 * @interval + @pos * @interval);
              opacity: 1 }

  16.7% {     transform: @c rotate(1 * @interval + @pos * @interval);
              opacity: 0.5 }
  33.2% {     transform: @c rotate(3 * @interval + @pos * @interval);
              opacity: 0 }

  33.3% {     transform: @c rotate(2 * @interval + @pos * @interval);
              opacity: 0.5 }
  49.9% {     transform: @c rotate(5 * @interval + @pos * @interval);
              opacity: 1 }

  50%  {      transform: @c rotate(3 * @interval + @pos * @interval);
              opacity: 1 }
  66.6% {     transform: @c rotate(4 * @interval + @pos * @interval);
              opacity: 1; }

  66.7% {     transform: @c rotate(4 * @interval + @pos * @interval);
              opacity: 0.5 }
  83.3% {     transform: @c rotate(4 * @interval + @pos * @interval);
              opacity: 0 }

  83.4% {     transform: @c rotate(5 * @interval + @pos * @interval);
              opacity: 0.5 }
  99.9% {     transform: @c rotate(5 * @interval + @pos * @interval);
              opacity: 1 }

  100%  {     transform: @c rotate(0 * @interval + @pos * @interval);
              opacity: 1 }}}

.loading::before {
  .loader-keyframes(0);
  animation:    loader-0 8s ease infinite }

.loading::after {
  .loader-keyframes(1);
  animation:    loader-1 6s ease infinite;
  // content:   "\f459";
  content:      "\f487" !important;
  content:      "\f488" !important;
  content:      "\f405" !important;
  text-indent: -0.4em !important }

.loading {
  position:   relative;
  margin:     @size;
  animation:  loader-main 4s ease-in-out infinite reverse }

.loading,
.loading::before,
.loading::after {
  box-sizing: border-box;
  display:    block;
  width:      0 !important;
  height:     0 !important }

// V1
.loading::before,
.loading::after {
  border-color:     transparent;
  mix-blend-mode:   exclusion;
  border-top-color: fade(@color, 50%);
  color:            @color;
  font-size:        1.5rem; // @size;
  border-width:     2rem 1.195rem; // @size @size / 2 * 1.33;
  border-style:     solid;
  top:              0;
  left:             0;
  position:         absolute;
  // Icon related stuffy the stuffing
  content:          "";
  text-indent:     -0.5em;
  font-family:      ionicons;
  text-align:       center;
  line-height:      0 }
// // V1
// .loading::before,
// .loading::after {
//   position: absolute;
//   top: 0;
//   left: 0;
//   border-style: solid;
//   border-color: transparent;
//   border-width: @size*1.73 @size;
//   border-bottom-color: @color;
//
//   // Icon related stuffy the stuffing
//   content: "\f459";
//   font-family: ionicons;
//   font-size: 6em;
//   text-align: center;
//   text-indent: -0.5em;
//   line-height: 0 }
