
                                                                                                                                                                                                                                                                                                                                                                                  /*
Tab bar close icon position toggle                                                                                                                                                                                                                                                                                                                                */

[data-close-button='Left'] .close-icon {
  left: 0;
  right: auto !important }

[data-close-button='Right'] .close-icon {
  left: auto !important;
  right: 0 }

[data-close-button='Hidden'] .close-icon {
  display: none }

[data-close-button='Unmodified'] .tab.modified .close-icon {
  display: none }

[data-close-button='Active'] .tab:not(.active) .close-icon {
  display: none }
