
                                                                                                                                                                                                                                                                                                                                                                                  /*
Tab bar close icon position toggle                                                                                                                                                                                                                                                                                                                                */

[data-close-button='left'] .close-icon {
  left: 0;
  right: auto !important }

[data-close-button='right'] .close-icon {
  left: auto !important;
  right: 0 }

[data-close-button='hidden'] .close-icon {
  display: none }

[data-close-button='unmodified'] .tab.modified .close-icon {
  display: none }

[data-close-button='active'] .tab:not(.active) .close-icon {
  display: none }
